<template>
  <div class="about is-secondary">
    <h1>{{ $t("links.about") }}</h1>
    <p>{{ $t("about.presentation") }}</p>
    <h2>{{ $t("about.sourceCode.title") }}</h2>
    <p>
      {{ $t("about.sourceCode.licence") }}
      <a href="https://gitlab.com/LeoMouyna/ht-league-ranking" target="_blank"
        >gitlab</a
      >
    </p>
    <p>{{ $t("about.sourceCode.improvement.title") }}</p>
    <ul class="actions">
      <li>
        <a
          href="https://gitlab.com/LeoMouyna/ht-league-ranking/-/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D="
          target="_blank"
          >{{ $t("about.sourceCode.improvement.actions.report") }}</a
        >
      </li>
      <li>{{ $t("about.sourceCode.improvement.actions.contribute") }}</li>
      <li>
        {{ $t("about.sourceCode.improvement.actions.support") }}
        <a href="https://liberapay.com/MouynaLeo/donate" target="_blank"
          ><img
            alt="Donate using Liberapay"
            src="https://liberapay.com/assets/widgets/donate.svg"
        /></a>
      </li>
    </ul>
  </div>
</template>

<script>
import { authViewMixin } from "@/mixins/authMixin";
export default {
  mixins: [authViewMixin]
};
</script>

<style lang="scss">
ul.actions {
  list-style-position: inside;
  list-style-type: square;
  li {
    overflow: auto;
    img {
      vertical-align: middle;
    }
  }
}
</style>
