<template>
  <div class="home">
    <HeaderForm />
  </div>
</template>

<script>
import HeaderForm from "@/components/HeaderForm.vue";
import { authViewMixin } from "@/mixins/authMixin";

export default {
  name: "Home",
  mixins: [authViewMixin],
  components: {
    HeaderForm
  }
};
</script>

<style></style>
