<template>
  <b-message
    :title="$t('auth.required.short')"
    class="message-card center"
    has-icon
    type="is-warning"
  >
    <slot name="description">
      <p class="center">{{ $t("auth.required.short") }}</p>
    </slot>
    <b-button @click="login" class="is-hattrick message-card__login-btn">
      {{ $t("auth.login") }}
    </b-button>
  </b-message>
</template>

<script>
import { authComponentMixin } from "@/mixins/authMixin";
export default {
  mixins: [authComponentMixin]
};
</script>

<style lang="scss">
.center {
  margin: auto;
  text-align: center;
}

.message-card {
  &__login-btn {
    margin-top: 0.6rem;
  }
}
</style>
