<template>
  <div class="header-form">
    <RankingDivisionForm />
  </div>
</template>

<script>
import RankingDivisionForm from "@/components/RankingDivisionForm.vue";
import device from "@/services/deviceService.js";

export default {
  components: {
    RankingDivisionForm
  },
  data() {
    return {
      activeTab: 1,
      size: device.isMobile() ? "" : "is-large"
    };
  }
};
</script>

<style>
.header-form {
  margin-top: 4rem;
}
</style>
