<template>
  <div class="form-element">
    <h2>{{ $t("forms.selectDivision") }}</h2>
    <b-field :label="$t('forms.labels.country')">
      <b-autocomplete
        size="is-medium"
        v-model="countryName"
        :data="filteredCountries"
        field="name"
        open-on-focus
        icon="earth"
        clearable
        :placeholder="$t('forms.placeholders.country')"
        @select="option => (country = option)"
      >
        <template slot-scope="props">
          <div class="media">
            <div class="media-left">
              <img
                width="32"
                :src="
                  `https://res.hattrick.org/leaguelogo/${props.option.ht_league_id}.png`
                "
              />
            </div>
            <div class="media-content">
              {{ props.option.name }}
              <br />
              <small>{{
                $tc("forms.gotDivisions", props.option.leagues.length, {
                  number: props.option.leagues.length
                })
              }}</small>
            </div>
          </div>
        </template>
      </b-autocomplete>
    </b-field>
    <b-field :label="$t('forms.labels.leagueLevel')">
      <b-select
        :placeholder="$t('forms.placeholders.division')"
        icon="tournament"
        v-model="league"
        expanded
        v-if="country"
        size="is-medium"
      >
        <option
          v-for="league in country.leagues"
          :key="league.level"
          :value="league"
        >
          {{ league.level }}
        </option>
      </b-select>
      <b-select
        icon="tournament"
        v-model="league"
        expanded
        disabled
        v-else
        size="is-medium"
      />
    </b-field>
    <div class="centered">
      <b-button
        icon-left="magnify"
        type="is-primary center"
        @click="selectLeague"
        >{{ $t("forms.findLeagues") }}</b-button
      >
    </div>
  </div>
</template>

<script>
import countryService from "@/services/countryService.js";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      countryName: null,
      country: null,
      league: null,
      leagueId: null,
      size: null,
      countries: []
    };
  },
  async mounted() {
    try {
      const result = await countryService.getAll();
      this.countries = result.data;
    } catch (err) {
      this.$buefy.toast.open({
        message: err,
        type: "is-danger",
        duration: 5000
      });
    }
  },
  computed: {
    filteredCountries() {
      return this.countryName
        ? this.countries.filter(option => {
            return (
              option.name
                .toString()
                .toLowerCase()
                .indexOf(this.countryName.toLowerCase()) >= 0
            );
          })
        : this.countries;
    }
  },
  methods: {
    ...mapActions("division", ["setDivision"]),
    async selectLeague() {
      this.setDivision({
        country: this.country.name,
        countryId: this.country.ht_league_id,
        level: this.league.level,
        firstLeagueId: this.league.firstId,
        leagueSize: this.league.size
      });
      this.$router.push({
        name: "Results",
        query: { country: this.country.name, level: this.league.level }
      });
    }
  }
};
</script>

<style></style>
