<template>
  <b-message
    :title="$t('refresh.available')"
    class="message-card center"
    has-icon
    :closable="false"
    type="is-info"
  >
    <div>
      <p class="center">
        {{ $t("refresh.lastUpdate") }}
        <strong>{{ $d(lastUpdateDate, dateFormat) }}</strong
        >.
      </p>
      <b-button
        class="message-card__refresh-btn center"
        icon-left="refresh"
        type="is-info"
        @click="$emit('askForRefresh')"
        >{{ $t("refresh.cta") }}</b-button
      >
    </div>
  </b-message>
</template>

<script>
import { mapState } from "vuex";
import device from "@/services/deviceService.js";

export default {
  computed: {
    ...mapState({
      ranking: state => state.ranking
    }),
    lastUpdateDate() {
      return new Date(`${this.ranking.last_update}Z`);
    },
    dateFormat() {
      return device.isMobile() ? "short" : "long";
    }
  }
};
</script>

<style lang="scss">
.center {
  margin: auto;
  text-align: center;
}

.message-card {
  &__refresh-btn {
    margin-top: 0.6rem;
  }
}
</style>
