<template>
  <div id="app">
    <Navbar />
    <div v-if="serverAuthenticated">
      <router-view></router-view>
    </div>
    <Auth v-else />
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
import Auth from "./components/Auth";
import { mapState } from "vuex";

export default {
  name: "App",
  components: {
    Navbar,
    Auth
  },
  computed: mapState("authentication", ["serverAuthenticated"])
};
</script>

<style lang="scss">
@import "@/assets/style/style.scss";

section {
  margin: 1em;
}
#app {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 950px) {
  #app {
    margin-bottom: 5rem;
  }
}
.form-element {
  max-width: 700px;
  margin: auto;
  min-height: 290px;
}
.center {
  text-align: center;
}
h1 {
  font-size: 3.8em;
}
h2 {
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.5em;
  }
  .form-element {
    max-width: 700px;
    margin: auto;
    min-height: 270px;
  }
}
div .centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

*::first-letter {
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  * + .desktop {
    margin: unset;
  }
  .desktop + * {
    margin: unset;
  }
}
* + .desktop,
.desktop + * {
  margin-left: 0.25em;
}
</style>
